<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>
    <!-- Sidebar -->
   <%-include('partials/_sidebar')%>

    <!-- Main Content -->
    <div class="main-content">
        

 <!-- Top Bar with Search and Profile -->
 <%-include('partials/_topBar')%>

        <h2>Dashboard</h2>


        
</body>
</html>
