<div class="modal" id="orderDetailsModal">
    <div class="modal-content">
        <span class="close" onclick="closeOrderDetailsModal()">&times;</span>
        <h5>Order Details</h5>
        <div id="orderDetails" class="orderDetails1"></div>
        <button onclick="closeOrderDetailsModal()">Close</button>
    </div>
</div>