 <!-- Sidebar -->
 <div class="sidebar">
    <h1>SmartSphere</h1>
    <ul>
        <li><a href="/admin/Dashboard">Dashboard</a></li>
        <li><a href="/admin/products">Products</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/category">Category</a></li>
        <li><a href="#">Coupons</a></li>
        <li><a href="/admin/offer">Offers</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>
